html, body {
	height: 100%;
}
body {
	font: normal 1em 'fira_sanslight';
}

.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}
.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

/*.clearfix {
 *  *zoom: 1;
}*/

.wrapper {
	box-sizing: border-box;
	min-width: 960px;
	min-height: 100%;
	padding-bottom: 90px;
	margin-bottom: -80px;
	background: url(../img/comppattern2.png);
}
/* Основная информация */
.main-container{
	width: 960px;
	margin: 0 auto;
}