
html, body {
	height: 100%;
}
body {
	font: 1em 'fira_sanslight';
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

/*.clearfix {
 *  *zoom: 1;
}*/

.wrapper {
	box-sizing: border-box;
	min-width: 960px;
	min-height: 100%;
	padding-bottom: 85px;
	margin-bottom: -80px;
	background: url(../img/comppattern2.png);
}
.head-container {
	position: relative;
	height: 116px;
	/*max-width: 1400px;*/
	min-width: 960px;
	background: #eff3f7;
}
.logo {
	position: absolute;
	top: 40px;
	left: 99px;
}
.logo .text-logo {
	display: block;
	position: absolute;
	top: 0;
	left: -9999px;
	/*text-indent: -9999px;*/
}
.social {
	float: right;
	padding-top: 31px;
	padding-right: 88px;
	padding-left: 0;
	margin: 0;
	list-style: none;
}
.social .social-item {
	float: right;
	width: 53px;
	height: 53px;
	margin: 0 9px;
}
.social .social-item .social-item-text {
	display: block;
	position: absolute;
	top: 0;
	left: -9999px;
}
.social .social-item .social-item-link {
	display: block;
	width: 53px;
	height: 53px;
}
.social .social-item.vk {
	background: url(../img/social-icons.png) no-repeat 0 0;
}
.social .social-item.tw {
	background: url(../img/social-icons.png) no-repeat -53px 0;
}
.social .social-item.facebook {
	background: url(../img/social-icons.png) no-repeat -106px 0;
}
.social .social-item.github {
	background: url(../img/social-icons.png) no-repeat -159px 0;
}
.social .social-item:hover {
	background-position-y: -53px;
}
/* Полоса градиента */
.container:before {
	content: " ";
	display: block;
	width: 100%;
	height: 3px;
	background: url(../img/grad.png) 50% 0;
	margin-bottom: 40px;
}
.footer-main:before {
	content: " ";
	display: block;
	width: 100%;
	height: 3px;
	background: url(../img/grad.png) 50% 0;
}

/* Основная информация */
.main-container{
	width: 960px;
	margin: 0 auto;
}
.side {
	float: left;
	width: 250px;
}
.info {
	float: right;
	width: 650px;
}
.side .side-nav,
.side .side-contact,
.info .aboutme,
.info .experiens,
.info .education
{
	border-radius: 5px;
	background: #eff3f7;
}
.side .side-nav {
	margin-bottom: 23px;
}
.info .aboutme-head, 
.info .experiens-head, 
.info .experiens-head,
.info .experiens .experiens-items,
.info .education .education-items 
{
	margin: 0;
}
/* Навигация */
.side .side-nav .side-nav-items {
	margin: 0;
	padding: 0 10px 0 10px;
	font-size: 1.3125em;
	list-style: none;
}
.side .side-nav .side-nav-link {
	text-decoration: none;
	color: #959aa8;
}
.side .side-nav .side-nav-link:hover {
	color: #3ba8c0;
}
.side .side-nav .side-nav-item {
	border-top: 2px solid #3ba8c0;
	padding: 20px 0 17px 18px;
}
.side .side-nav .side-nav-item.current {
	margin: 0 -10px -2px -10px;
	padding-left: 28px;
	background: #3ba8c0;
	color: #fff;
}
.side .side-nav .side-nav-item.current .side-nav-link {
	color: #fff;
}
/* Контакты */
.side .side-contact .side-contact-items
{
	margin: 0;
	padding: 0;
	list-style: none;
	font: normal 1.0625em 'fira_sanslight';
	color: #fff;
}
.side .side-contact .side-contact-item
{
	padding: 10px 10px 10px 40px;
}
.side .side-contact .side-contact-item:first-child
{
	padding-left: 21px;
}
.side .side-contact .mail {
	background: #41b9d4;
}
.side .side-contact .mail:before {
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	width: 25px;
	height: 25px;
	background-image: url(../img/mail.png);
} 

.side .side-nav,
.side .side-contact
{
	border-radius: 5px;
	overflow: hidden;

}
/* Футер */
.footer-main {
	min-width: 960px;
	background: #eff3f7;
}
.footer-main .footer-main-lock {
	float: left;
	width: 47px;
	height: 61px;
	margin-left: 250px;
	background: url(../img/lockclose.png) no-repeat 0 20px;
}
.footer-main .footer-main-copyright {
	margin-left: 505px;
	line-height: 77px;
	font-size: 0.8125em;
	color: 4a545d;
}


