
@import url("for-all.css");
@import url("header.css");
@import url("side-nav-contact.css");
@import url("footer.css");


/* Полоса градиента */
.container:before {
	content: " ";
	display: block;
	width: 100%;
	height: 3px;
	background: url(../img/grad.png) 50% 0;
	margin-bottom: 40px;
}
.info {
	float: right;
	width: 650px;
}
.info .aboutme,
.info .experiens,
.info .education
{	
	position: relative;
	border-radius: 5px;
	background: #eff3f7;
	overflow: hidden;
}
.info .aboutme-head, 
.info .experiens-head, 
.info .education-head,
.info .experiens .experiens-items,
.info .education .education-items, 
.info .experiens .experiens-item-company,
.info .education .education-item-name 
{
	margin: 0;
}
/* Aboutme Experiens Education */
.aboutme .aboutme-head
{
	width: 318px;
	padding-left: 22px;
	border-bottom: 2px solid #3ba8c0;
	font: normal 1.6875em 'fira_sanslight';
	line-height: 69px;
	color: #3ba8c0;
}
.experiens .experiens-head,
.education .education-head
{	
	display: inline-block;
	padding-left: 22px;
	padding-right: 24px;
	border-bottom: 2px solid #3ba8c0;
	font: normal 1.6875em 'fira_sanslight';
	line-height: 69px;
	color: #3ba8c0;
}
.info .aboutme,
.info .experiens,
.info .education
{
	padding-bottom: 46px;
	margin-bottom: 26px;
}
.aboutme .aboutme-items,
.experiens .experiens-items,
.education .education-items
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.aboutme .aboutme-avatar {
	float: left;
    padding-top: 36px;
    padding-left: 55px;
}
.aboutme .aboutme-avatar .aboutme-around-avatar {
	width: 142px;
	height: 142px;
	border: 4px solid #3ba8c0;
	border-radius: 50%;
	overflow: hidden;
}
.aboutme .aboutme-items {
	padding-top: 19px;
	margin-left: 230px;
	color: #4a545d;
}
.aboutme .aboutme-item {
}
.aboutme .aboutme-item .title {
	display: inline-block;
	margin-right: 20px;
	font: normal 1.0625em 'fira_sansmedium';
	line-height: 30px;
}
.aboutme .aboutme-item .description {
	display: inline-block;
	vertical-align: top;
	line-height: 30px;	
}
.aboutme .aboutme-item .description.place {
	width: 300px;
}
.aboutme .aboutme-item .description.myskills {
	width: 240px;
}
.aboutme .aboutme-item .skill {
	width: 19px;
	padding: 0 14px;
	border-radius: 2px;
	line-height: 30px;
	color: #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e8ca2+0,2e8ca2+50,3ba8c0+51,3ba8c0+100 */
background: #2e8ca2; /* Old browsers */
background: -moz-linear-gradient(top,  #2e8ca2 0%, #2e8ca2 50%, #3ba8c0 51%, #3ba8c0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2e8ca2 0%,#2e8ca2 50%,#3ba8c0 51%,#3ba8c0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2e8ca2 0%,#2e8ca2 50%,#3ba8c0 51%,#3ba8c0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e8ca2', endColorstr='#3ba8c0',GradientType=0 ); /* IE6-9 */
}
/* Experiens */
.experiens .experiens-head,
.education .education-head
{
	margin-bottom: 18px;
}
.experiens .experiens-item-company,
.education .education-item-name
{
	font: normal 1.0625em 'fira_sansbook';
	color: #4a545d;
	line-height: 16px;
}
.experiens .experiens-item-data,
.education .education-item-info
{
	font: normal 0.9375em 'fira_sanslight';
	color: #4a545d;
}
.experiens .experiens-item,
.education .education-item
{	
	position: relative;
	padding: 9px 0 9px 125px;
}

.experiens .experiens-item:before
{
	content: " ";
	display: block;
	position: absolute;
	left: 41px;
	top: 50%;
	width: 47px;
	height: 41px;
	background: url(../img/iconmain.png) no-repeat;
	
	/* так просили не делать, но этоработает в ие8 */
	/* сдвиг margin-top = половина высоты картинки +
	 */
	margin-top: -24px;

	/* либо так, это не работает в ие8
	transform: translateY(-50%);
	*/

}
.education .education-item:before
{
	content: " ";
	display: block;
	position: absolute;
	left: 41px;
	top: 50%;
	width: 47px;
	height: 41px;
	background: url(../img/iconmain.png) no-repeat 0 -82px;
	
	 так просили не делать, но этоработает в ие8 
	/* сдвиг margin-top = половина высоты картинки +
	 */
	margin-top: -24px;

	/* либо так, это не работает в ие8
	transform: translateY(-50%);
	*/
}
.education .education-item.college:before
{
	content: " ";
	display: block;
	position: absolute;
	left: 41px;
	top: 50%;
	width: 47px;
	height: 41px;
	background: url(../img/iconmain.png) no-repeat 0 -41px;
	
	/* так просили не делать, но этоработает в ие8 */
	/* сдвиг margin-top = половина высоты картинки +
	 */
	margin-top: -24px;

	/* либо так, это не работает в ие8
	transform: translateY(-50%);
	*/
}


